/* Global Styles */
:root {
	--primary-color: rgb(229,9,20);
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
article img{margin-top:1% ;
	height: 160px;
	margin-left: 35%;
	width: 35%;
}

article :hover{
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}
h3 {font-size:xx-large ;
	width: 80%;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}
h2{
	margin-left: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}

#block {margin-top: 1%;
	width: 35%;
	height: 70%;
	background-color: #000;
	text-align: left;
	border-radius: 10%;
}

.sign {
	
	display: flex;
}

#email ,#password{
background-color: rgb(35, 32, 32);
height: 40px;
width: 80%;
align-items: center;
color: #f4f4f4;
}

#head{margin-top: 15%;
	font-size: xx-large;
}
.showcase-top img {align-items: left;
	width: 100%;
    
}

.header-image {
	width: 100%;
	position: absolute;
	top: -20vh;
	z-index: -1;
}
.header-image img {
	width: 100%;

}

header {
	width: 100%;
	height: 100vh;
	
}

.showcase-top {width: 100%;
	position: relative;
	z-index: 2;
	height: 90px;
	display: flex;
}

.showcase-top img {
	width: 170px;
	position: static;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 10%;
    margin-top: 4%;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 1;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
	
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 60px;
	line-height: 1.1;
	margin: 0 0 1rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

aside{padding: 15px;
    float: left;
    height: 200px;
    width: 50%;
   background-color: #000;
  
    }
article{padding: 15px;
        float: left;
        width: 50%;
        height: 200px;
		background-color: #000;
   
        }
	.section-1 {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 4rem;
		}
	.section-1 .section-1-item {
			position: relative;
			/* width: 300px; */
			width: 15rem;
			margin: 3px 5px;
			overflow: hidden;
			
			}
	.section-1 .section-1-item img {
			width: 100%;
			height: 300px;
			z-index: -1;
		}
	
	.section-1 .section-1-item:hover {
		-ms-transform: scale(1.05);
-webkit-transform: scale(1.05);
transform: scale(1.05);

		}
				
@media(max-width:600px){
    article ,aside{
       width: 100%;
       height: 100px;
    }  } 
pre{
    color: white;
    font-style: normal;
	font-size: larger;
}
.blog {
    margin: 0;
    padding: 5px;
    margin-left: 5%;
}

.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}
.foot{
	text-align: center;
}
.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}

/* Container */
.container {
	max-width: 70%;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

/* Text Styles */
.text-xl {
	font-size: 2rem;
}

.text-lg {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.text-md {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.text-center {
	text-align: center;
}

.text-dark {
	color: #999;
}
.butu{
    text-align: center;
}
/* Buttons */

.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 1rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 1rem;
}

@media (max-width: 960px) {

		.showcase {
		height: 70vh;
	}

	.hide-sm {
		display: none;
	}

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		mnmbackground: rgba(0, 0, 0, 0.6);
		mnmbox-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
	
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}


	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}

